{:up
 [:table/modify "users"
  [:table.add/column {:type :text} "password"]
  [:table.remove/column "email"]]
 :down
 [:table/modify "users"
  [:table.remove/column "password"]
  [:table.add/column {:type :text} "email"]]}
